@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=ZCOOL+QingKe+HuangYou&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', 'Work Sans', sans-serif;
    background-image: url(1af8d3b487b77085d5288814f151e1de_w200.gif);
    background-repeat: repeat;
    background-position: center;
}

.Nav-bar {
    display: flex;
    background-color: #33BBC5;
    max-height: 100px;
    max-width: 100%;
    width: 100%;
    align-items: center;
    /* position: fixed; Added to fix the nav bar at the top */
    top: 0;
    left: 0;
    right: 0; /* Ensures the nav bar spans the entire width */
    z-index: 1; /* Keeps the nav bar above other content */    
}

.nav_links {
    list-style: none;
    display: flex;
    padding: 0 20px;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.nav_links a {
    font-size: 22px;
    font-weight: 800;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: white;
    transition: font-size 0.3131s ease-in-out, transform 0.3131s ease-in-out;
}

.nav_links a:hover {
    font-size: 25px;
    font-weight: 1000;
    background-color: #85E6C5;
    border-radius: 5px;
    transform: scale(1.31);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #33BBC5;
    min-width: 160px;
    max-width: 191px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content li {
    padding: 10px;
    text-align: center;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #85E6C5;
    border-radius: 5px;
}

/* Styling for the menu icon */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}   

.logo {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 750;
    background: -webkit-linear-gradient(-45deg, #f7f9ff, #d4e0f8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 100px;
    padding: 0 50px;
    margin-right: auto;
}

.logo:hover {
    transition: background 2.5s ease-in-out;
    background: -webkit-linear-gradient(-45deg, #d7e8f2, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Style for the Login button */
.login-button {
    background-color: #007bff; /* Blue background */
    color: white;             /* White text */
    width: 200px; 
    padding: 10px 30px;       /* Increased padding for longer button */
    text-align: center;       /* Center the text inside */
    text-decoration: none;    /* Remove underline from the text */
    display: inline-block;    /* Allow setting padding and margins */
    font-size: 16px;          /* Size of the font */
    margin: 4px 2px;          /* Margin around the button */
    transition-duration: 0.2s;/* Time for the hover effect transition */
    transition: all 0.2 ease;
    cursor: pointer;          /* Change cursor to pointer on hover */
    border: none;             /* Remove any default border */
    border-radius: 25px;       /* Rounded corners */
}

/* Move nav links to the left when the Login button is hovered */
.login-button:hover + .nav_links {
    transform: translateX(-10px); /* Adjust the value as needed */
    transition: transform 0.2s ease;
}

/* Specific hover effect for the Login button */
.nav_links .login-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
    border-radius: 35px;       /* Rounded corners */
    transform: scale(1.05);    /* Slightly zoom out */
}
/* Media query for screens with a maximum width of 1278 pixels */
@media (max-width: 1278px) {
    .nav_links {
        position: fixed; /* Fix the position to the right */
        top: 20px; /* Position it higher on the page */
        right: 0; /* Align to the right side */
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center; /* Center links vertically */
        align-items: center; /* Center items horizontally */
        background-color: #114b92; /* Modern dark background color */
        padding: 10px; /* Adjust padding as needed */
        border-radius: 25px; /* Rounded corners on the left side */
        width: 250px; /* Set a fixed width */
        z-index: 10; /* Ensure it's above other content */
    }

    .nav_links a, .nav_links .login-button {
        color: white; /* Light text color for contrast */
        padding: 8px 12px; /* Padding for each link */
        margin: 5px 0; /* Space between links */
        text-align: center; /* Centralize text */
        border-radius: 5px; /* Rounded corners for links */
        display: block; /* Ensure full-width for each link */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }

    .nav_links a:hover, .nav_links .login-button:hover {
        background-color: #444; /* Slightly lighter background on hover */
    }

    /* Ensure the login button does not overflow the nav */
    .login-button {
        background-color: #007bff; /* Button color */
        border: none; /* Remove border */
        width: auto; /* Adjust width to fit content */
        border-radius: 25px; /* Match the border-radius of other links */
    }

    .menu-icon {
        display: block;
        position: fixed; /* Fix the position on the screen */
        top: 20px; /* Align with the top of the nav bar */
        right: 20px; /* Move the icon to the left */
        z-index: 1001; /* Ensure it's above the nav bar */
        cursor: pointer; /* Change cursor to pointer on hover */            
    }

    /* Additional styles for dropdown, if needed */
    .dropdown-content {
        left: -200px; /* Position the dropdown to the left of the side nav */
        border-radius: 5px; /* Rounded corners for dropdown */
        /* Other styles as needed */
    }
}

/* Media query for screens with a maximum width of 1063 pixels */
@media (max-width: 1065px) {
    .nav_links a {
        font-size: 18px; /* Smaller font size for nav links */
    }
}

.logo {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 750;
    background: -webkit-linear-gradient(-45deg, #f7f9ff, #d4e0f8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 100px;
    padding: 0 50px;
    margin-right: auto;
}

.logo:hover {
    transition: background 2.5s ease-in-out;
    background: -webkit-linear-gradient(-45deg, #d7e8f2, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    padding: 0;
    margin: 0;
}
/* Left choice bar */
.Choose {
    background-color: rgb(110, 109, 109);
    float: left;
    width: 15%;
    height: 550px;
    margin-top:15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.lessonbutton {
    width: 100%;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: medium;
}
/* Content box */
.board {
    margin: 10px;
    background-color: #8c7575;
    width: 80%;
    height: 580px;
    border-radius: 10px;
    border: 5px #786666 solid;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Top 3 in leaderboard */
.Top3Box {
    height: 40%;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
/* top 3 leaderboard's holder box */
.Top {
    height: 90%;
    width: 15%;
    background-color: #8c7575;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #786666 3px solid;
    gap: 5px;
}
.Picture {
    height: 50%;
    margin-top: 5px;
    width: 50%;
    border-radius: 100%;
    background-color: #786666;
}
.image {
    max-height: 100%;
    max-width: 100%;
}
.Name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: #786666;
}
.Number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: aliceblue;
}
/* Other rank leaderboard */
.Others {
    height: 59%;
    width: 100%;
    margin-top:5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    gap:4px;
}
.rank {
    height: 5%;
    width: 100%;
}
.OthersBoard {
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 100px;
    width: 100%;
    border: 3px #8c7575 solid;
    flex: 1;
}
.Left {
    float: left;
    margin-left: 3%;
}
.Middle {
    margin-left: 40%;
}
.Right {
    position: absolute;
    right: 3%;
}